#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=synpatics (daemon)
Comment=The daemon of synpatics for touchpad control
Exec=syndaemon -i 2 -dtk
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;

